<div class="dashboard-container">
  <h1>Bienvenido al Sistema de Gestión de RRHH</h1>
  <p>Selecciona una opción para gestionar los datos:</p>

  <!-- Botones de navegación -->|
  <div class="button-container">
    <button routerLink="/requerimientos">Ver Requerimientos de Personal</button>
    <button routerLink="/candidatos">Gestionar Candidatos</button>
    <button routerLink="/contrataciones">Gestionar Contrataciones</button>
    <button routerLink="/usuarios">Ver Usuarios</button>
    <button routerLink="/departamentos">Gestionar Departamentos</button>
    <button routerLink="/puestos">Gestionar Puestos</button>
  </div>
</div>
